* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
  box-sizing: border-box;
}

:focus-visible {
  outline: none;
}
#container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 270px 1fr;
}

#sidebar {
  background: white;
}

#content {
  background: url(./assets/mtn.webp);
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-columns: max-content max-content;
  gap: 40px;
  padding: 70px 40px 40px 40px;
}

#task-div {
  grid-column: 1;
  grid-row-: 2;
}

#list-info-box {
  height: 50px;
  width: 250px;
  background: white;
  border-radius: 20px;
  display: flex;
  padding-left: 20px;
  align-items: center;
}

#list-info-box form {
  width: 70%;
  align-items: center;
  padding: 0;
}

#list-name-info {
  border: none;
  font-size: 20px;
  width: 100%;
  background: none;
}

.dim:after {
  content: '';
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  opacity: .2;
  pointer-events: none;
  background-color: black;
  width: 100%;
  height: 100%;
}

.task-div {
  width: 450px;
  height: 100%;
  background: white;
  border-radius: 20px;
  border: none;
  padding: 20px;
}

.task-div ul {
  list-style: circle;
  padding-left: 20px;
  display: grid;
  gap: 10px;
}

#done-div {
  position: relative;
}

#clear {
  position: absolute;
  right: 20px;
  background: #9b9b9b;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  padding: 3px;
  width: 75px;
  z-index: 10000;
}

#done-ul {
  list-style: none;
}

#done-ul p{
  text-decoration: line-through;
  opacity: .7;
}
.date { 
  font-size: 14px;
  color: #9b9b9b;
}

.ul-task div {
  display: grid;
  grid-template-rows: max-content max-content;
  gap: 5px;
}

.form {
  position: absolute;
  width: 500px;
  height: 350px;
  background: white;
  border-radius: 20px;
  border: none;
  left: 50%;
  margin-left: -250px;
  top: 50%;
  margin-top: -175px;
  z-index: 10000;
  overflow: hidden;
}

form {
  display: grid;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.task-form {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: max-content max-content 1fr;
  grid-auto-flow: column;
  gap: 20px;
  align-items: center;
  padding: 20px;
}

.task {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 1fr 50px;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
  box-shadow: 0px -1px 5px 2px rgb(231, 229, 229);
}

#e-task-form .buttons {
  grid-template-columns: 1fr 1fr 1fr;
}

.btn-div {
  padding-right: 20px;
}
#e-task-done, #d-delete {
  background: #0080ff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  width: 100%;
  padding: 3px;
}

#d-delete {
  background: #9b9b9b;
}

.buttons button {
  border: none;
  background: white;
  color: #0080ff;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 5px 0px 2px 1px rgb(231, 229, 229);
}
textarea {
  height: 125px;
  width: 100%;
}

.select {
  display: grid;
  gap: 5px;
  margin-right: 20px;
}

select {
  display: block;
}

input {
  border: none;
  font-size: 24px;
  width: 100%;
  background: #f0f0f0;
  border-radius: 25px;
  padding: 2px;
  padding-left: 10px;
}

input[type=date] {
  width: 50%;
  font-size: 16px;
  border-radius: 25px;
}

#list-form, #edit-form{
  width: 300px;
  height: 140px;
}

.list-form {
  display: grid;
  grid-template-rows: 1fr 50px;
  height: 100%;
}

.list-form input {
  background: none;
}

.list-form form {
  padding: 20px;
  align-items: center;
}

.red {
  border: 1px solid red;
}

.required::after {
  content: '*required';
  color: red;
}

#sidebar {
  display: grid;
  grid-auto-rows: max-content;
  gap: 20px;
  padding: 25px;
}

#side-top {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

#side-user {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 20px;
  align-items: center;
}

#side-user p {
  font-weight: bold;
  font-size: large;
}

#side-btn {
  align-self: center;
}

#taskBtn {
  width: 100%;
  height: 35px;
  background: #0080ff;
  color: white;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#taskBtn span {
  font-size: 30px;
  padding-right: 10px;
}

#listBtn {
  background: none;
  border: none;
  font-size: 30px;
  color: #9b9b9b;
  padding-right: 7px;
}
#list-header {
  display: flex;
  justify-content: space-between;
}
#list-container {
  display: grid;
  gap: 20px;
}

#list-ul {
  list-style-type: none;
  display: grid;
  gap: 10px;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editBtn {
  background: none;
  border: none;
  border-radius: 25px;
  padding-right: 5px;
} 

.pencil {
  height: 20px;
  filter: invert(68%) sepia(9%) saturate(15%) hue-rotate(29deg) brightness(89%) contrast(90%);
}

.cat {
  height: 50px;
  border-radius: 25px;
}

.hide {
  display: none;
}